html, body, #root, #root > div {
  display: block;
  width: 100%;
}

.player-div {
  display: block;
  width: 50%;
  min-width: 45vw;
  min-height: 45vw;
  padding: 0.3em 0.3em 0.3em 0.3em;
  overflow: auto;
}

.container {
  display: block;
  width: 93%;
  position: relative;
  left: 2vw;
  margin: 0.5em 0 0.5em 0;
}

.square {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  margin: 0 0.5em 0 0.5em;
  vertical-align: text-bottom;
}
.navy {
  background: #17274c;
}
.blue {
  background: #2e36a3;
}
.light-blue {
  background: #63d6ff;
}

.img-container, .video-container {
  display: block;
  width: 88%;
  margin: 1vw 1vw 1vw 1vw !important;
  border: solid 1px;
}
.playerImage, Video {
  display: block;
  width: 60%;
  margin: 0 auto 0 auto;
}

h4 {
  margin: 0 0.4em 0 0.4em;
}
input, h4 {
  display: inline-block;
}
.long-input {
  width: calc(100% - 9em);
  float: right;
}
.short-input {
  width: 4em;
}
.short-input::-webkit-inner-spin-button {
  opacity: 1;
}

.submit-btn {
  display: block;
  width: 100%;
  height: 5vh;
  background-image: linear-gradient(175deg, #7cc9ff 40%, #588bff 60.5%);
  color: white;
  margin-top: 3%;
  font-weight: bolder;
  font-size: 110%;
}